To start, click File --> Save Notebook As...

Then you can have your own copy you can modify.

# Python Object Types
Reference: Chapter 4 of Lutz, Mark. *Learning Python*, 5th Edition, O'Reilly, 2013

Cheat Sheets:

https://media.datacamp.com/cms/python-basics-cheat-sheet-v3.pdf

https://github.com/ehmatthes/pcc_3e/releases/download/v1.0.0/beginners_python_cheat_sheet_pcc_all.pdf

In [ ]:
# Note:
# The pound or hash symbol denotes a comment.  When running code, these sections
# after a "#" will not be part of the code.

# Another note, the function print is sometimes used so that the output to a
# function or operation is displayed below the code.  The expression in the print
# function can be taking out of print(...) and still be used.

## Numbers

In [ ]:
## Manipulating numbers
print(5+2)   # additon
print(5-2)   # subtraction
print(5*2)   # multiplication
print(5/2)   # division
print(5**2)  # exponent (5^2)
print(5%2)   # remainder from division; 5/2 is 2 remainder 1
print(5//2)  # rounds down after dividing; 5/2 is 2.5 and rounded to 2

7
3
10
2.5
25
1
2

In [ ]:
## To do anymore complicated mathematical operations you would need to import a library such as:
import math
sqrt_num = math.sqrt(5)  #square root of 5
print(sqrt_num)
print(math.pi)  # pi

2.23606797749979
3.141592653589793

In [ ]:
# if you need a random number you can import the 'random' library
import random
print(random.random()) # prints a random number between 0 and 1
print(random.choice([1,2,3,4,5])) # prints a random number from a list

0.06622542637634687
4

## Strings
### Strings are sequences that keep their order.  Other types of sequences are lists, and tuples.  Strings, however, are sequences of characters.

In [ ]:
S = "Hello World!"
print(S)    # prints the whole string
print(S[0]) # prints the first character
print(S[1]) # prints the second character
print(S[-1])# prints the last character
print(S[-2])# prints second to last charcter

Hello World!
H
e
!
d

In [ ]:
print(S[1:3]) # prints the second and third character; 1 through 2, but not 3
print(S[6:])  # prints from the seventh position onwards
print(S[:5])  # prints from the beginning up to the fifth position,
              # but not including the 5th position
print(S[:-1]) # prints everything but the last position
print(S[:])   # prints everything

el
World!
Hello
Hello World
Hello World!

### Adding to Strings and Repeating

In [ ]:
print(S + ' Hello Mars!') # add to the string
                          # the plus sign does something different for strings.
                          # Here, it concats versus for numbers where it adds.

print(S*3)                # repeat the string

Hello World! Hello Mars!
Hello World!Hello World!Hello World!

### Immutability
##### Numbers, Strings, and tuples are immutable (cannot be changed)
##### Lists, dictionaries, and sets are not

In [ ]:
print(S) # S is still the same, we have not changed it.

Hello World!

In [ ]:
# S[0] = 'Z'  # This will give an error because you cannot change the object

In [ ]:
S = 'Z'+S[1:] # We need to run a new expression in order to change it.
print(S)      # Now S is different

Zello World!

In [ ]:
A = 'apple'
L = list(A) # convert string into a list of characters
L

['a', 'p', 'p', 'l', 'e']

In [ ]:
L[-1] = 'y' # change the last character
L           # lists are not immutable, so you can change one of the characters

['a', 'p', 'p', 'l', 'y']

In [ ]:
"".join(L) # convert list back to string
           # join, joins the characters with no space ("")

'apply'

In [ ]:
# ## There are easier ways to do this; not recommended.
# B = bytearray(b'apple') # convert string into a bytearray
# B.extend(b'orange')     # extend with the word oranges
# B.decode()              # turn back into a string.

### Type Specific Methods
String specific operations

In [ ]:
W = "Hello World!"
W.find('World!')  # Find the offset; remember indexing starts at 0, so its the 7th position.

6

In [ ]:
W.replace('World!', 'Mars!') # replace the word

'Hello Mars!'

In [ ]:
W  # W is still unchanged

'Hello World!'

In [ ]:
len(W) # find the length of W; give the number of characters

12

In [ ]:
M = W.replace('World!', 'Mars!') # replace the word
M                                # M now contains Mars because its a new expression.

'Hello Mars!'

In [ ]:
## Splitting texts with a delimiter
## A delimiter is something that separates text like a space or a comma

fruits = 'apple,orange,banana,peach,plum'
fruits.split(',') # this will split fruits based on a comma

['apple', 'orange', 'banana', 'peach', 'plum']

In [ ]:
print(W.upper()) # all uppercase
print(W.lower()) # all lowercase
print(W.isalpha()) # checks if all characters are alphabets; comes back as false
                   # because of the space and exclamation point.
print('apple'.isalpha()) # comes back as true; only letters
white_space = 'apple,orange,banana,peach,plum        '
print(white_space.rstrip()) # removes white space at the end
print(white_space.rstrip().split(',')) # removes white space then splits

HELLO WORLD!
hello world!
False
True
apple,orange,banana,peach,plum
['apple', 'orange', 'banana', 'peach', 'plum']

In [ ]:
# formatting expressions
print('{}, carrot, and {}'.format('potato', 'onion')) # The words can be placed in the
# curly braces in the order that they appear in the format function.

print('{:.2f}'.format(3.14159265))  # Can work for numbers too.

potato, carrot, and onion
3.14

In [ ]:
# You can see all the attributes you can use on an object.
# W is our string "Hello World!"
dir(W)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(W.replace) # You can use the function help to give more details.

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

### Other Ways to Code Strings

In [ ]:
# Special characters

V = "Hello Venus!\nHow are you?" #\n means new line and will print the rest on the next line
print(V)
J = "Hello Jupiter!\tHow are you?" #\t means tab
print(J)

Hello Venus!
How are you?
Hello Jupiter!	How are you?

In [ ]:
### You can use single or double quotes, but be consistent.  You can also print the single or double quotes by using triple quotes

quote = """He said, "Hello". """ # This is the best method, but there is also:
print(quote)
quote2 = 'She said, "Hello".' # Use single quotes at the ends and double quotes for the quote.
print(quote2)
quote3 = "I'm Jack."          # Or vice versa
print(quote3)

He said, "Hello".
She said, "Hello".
I'm Jack.

### Unicode Strings
#### Unicode: an international encoding standard for use with different languages and scripts, by which each letter, digit, or symbol is assigned a unique numeric value that applies across different platforms and programs.

In [ ]:
print('\xc4pple')

Äpple

In [ ]:
# Emojis have unicodes
print("\U0001F923")

🤣

### Pattern Matching

In [ ]:
import re # Regular Expressions Library
pattern = 'Cookies'
sequence = 'Cookies are delicious.'
re.match(pattern, sequence).group()

'Cookies'

## Lists
Lists have no fixed size and are mutable, able to modify in place.

In [ ]:
L = [314, 'apple', 3.14]
len(L) # find the length of L

3

In [ ]:
print(L[:-1])                   # gives everything in list except the last item
print(L + ['orange', 2.343, 8]) # addes items to the list
print(L*2)                      # doubles the list
print(L)                        # L still hasn't changed

[314, 'apple']
[314, 'apple', 3.14, 'orange', 2.343, 8]
[314, 'apple', 3.14, 314, 'apple', 3.14]
[314, 'apple', 3.14]

In [ ]:
L.append('orange') # add an item to the end of the list
L                  # L has now changed

[314, 'apple', 3.14, 'orange']

In [ ]:
L.pop(2)  # removed the third element
L         # L has changed again

[314, 'apple', 'orange']

In [ ]:
alphabet = ['b','c','a','d','e']
alphabet.sort()       # puts the letters in alphabetical order
print(alphabet)
alphabet.reverse()    # reverses the list
print(alphabet)

['a', 'b', 'c', 'd', 'e']
['e', 'd', 'c', 'b', 'a']

In [ ]:
print(L)
# L[99]       # This will give an error
# L[99] = 1   # This will also give an error

[314, 'apple', 'orange']

In [ ]:
## Nesting Lists

M = [[1,2,3],
     [4,5,6],
     [7,8,9]]
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(M[1]) # Get row 2
print(M[1][2]) # Get row 2, then get item 3

[4, 5, 6]
6

In [ ]:
## List comprehension expression
col2 = [row[1] for row in M] # get a list of items in column 2
col2

# This requires a for loop which we will go over as well.
# Briefly for each row in M, the 2nd item is taken and put into a new list.

[2, 5, 8]

In [ ]:
M # M is unchanged

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print([row[1]+2 for row in M]) # add 2 to each item in column 2
print([row[1] for row in M if row[1]%2 == 0]) # Only get even numbers in 2nd column
# This latter example requires a for loop and an if statment which will be
# described below.

[4, 7, 10]
[2, 8]

In [ ]:
diag = [M[i][i] for i in [0,1,2]] # get the diagonal
diag

[1, 5, 9]

In [ ]:
## Creating lists of numbers using range
list(range(5))     # This creates a list of 0-4; python starts at 0 and ends at
                   # 5-1 or n-1

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(2,6)))     # Give a list of numbers starting at 2 and ending at 6-1 or 5
print(list(range(-4,5,2)))  # Gives a list of numbers starting at -4 to 5-1 = 4 in intervals of 2

[2, 3, 4, 5]
[-4, -2, 0, 2, 4]

In [ ]:
[[x**2, x**3] for x in range(4)]

[[0, 0], [1, 1], [4, 8], [9, 27]]

In [ ]:
[[x/2,x,x**2] for x in range(-4,5,2) if x >= 0]

[[0.0, 0, 0], [1.0, 2, 4], [2.0, 4, 16]]

In [ ]:
## Generators
J = (sum(row) for row in M) # This is a generator expression
next(J)                     # Next starts the first iteration
                            # The answer is 6 since the first row of M gets summed.

6

In [ ]:
print(next(J))    # The answer is 15, the sum of the second row.
print(next(J))    # The answer is 24, the sum of the third row.
# print(next(J))  # Having another will produce an error since there are no more rows.

15
24

In [ ]:
## Map
# Mapping if very similar where it does a function for each item in a list.

list(map(sum,M))

[6, 15, 24]

In [ ]:
## Create a set
{sum(row) for row in M}  #The answer is created as a set with curly brackets
                         #

{6, 15, 24}

In [ ]:
{i : sum(M[i]) for i in range(3)} # Create a dictionary using iteration

{0: 6, 1: 15, 2: 24}

In [ ]:
# Lists, sets, dictionaries, and generators can be built with comprehensions
print([sum(row) for row in M])              # List
print({sum(row) for row in M})              # Set
print({i : sum(M[i]) for i in range(3)})    # Dictionary
print((sum(row) for row in M))              # Generator

[6, 15, 24]
{24, 6, 15}
{0: 6, 1: 15, 2: 24}
<generator object <genexpr> at 0x7935f02e97e0>

## Dictionary
These are mappings that consist of keys and values.  Also, these are mutable.

For example:

key: value

OR

key: [value1, value2, value3]

In [ ]:
D = {'fruit': 'apple', 'quantity': 4, 'color': 'red'}
print(D['fruit'])
print(D['quantity'])
print(D['color'])

apple
4
red

In [ ]:
D['quantity'] += 1 # add 1 to the quantity
D

{'fruit': 'apple', 'quantity': 5, 'color': 'red'}

In [ ]:
## Unlike lists, you can add to a dictionary
DD = {} # Empty dictionary
DD['vegetable'] = 'carrot'  #
DD['quantity'] = 1
DD['color'] = 'orange'
DD

{'vegetable': 'carrot', 'quantity': 1, 'color': 'orange'}

In [ ]:
## This example produces an error, but demonstrates that you cannot add to a
## a list using indexing.

# LL = ['apple', 'orange', 'banana', 'peach', 'plum']
# LL[5] = 'pear'

In [ ]:
## Other ways to make a dictionary
## Occasionally it will not come back in the same order you type it.
## But this does not matter, because dictionaries don't care about order.

veggies1 = dict(vegetable = 'carrot', quantity = 1, color = 'orange')               # Using keywords
veggies2 = dict(zip(['vegetable', 'quantity', 'color'], ['carrot', 1, 'orange']))   # Using zip function
veggies3 = dict([('vegetable', 'carrot'), ('quantity', 1), ('color', 'orange')])    # Other formatting

print(veggies1)
print(veggies2)
print(veggies3)

{'vegetable': 'carrot', 'quantity': 1, 'color': 'orange'}
{'vegetable': 'carrot', 'quantity': 1, 'color': 'orange'}
{'vegetable': 'carrot', 'quantity': 1, 'color': 'orange'}

In [ ]:
## Nesting Dictionaries
dessert = {'name':{'cake':['chocolate','vanilla'],'ice cream':['mint','cookie dough']},
           'price':{'cake':5,'ice cream':4},
           'quantity':{'cake':1,'ice cream':2}}
dessert

{'name': {'cake': ['chocolate', 'vanilla'],
  'ice cream': ['mint', 'cookie dough']},
 'price': {'cake': 5, 'ice cream': 4},
 'quantity': {'cake': 1, 'ice cream': 2}}

In [ ]:
print(dessert['name'])                  # name of desserts and flavors
print(dessert['name']['cake'])          # flavors available for cake
print(dessert['price']['cake'])         # price of cake
print(dessert['quantity']['ice cream']) # how much ice cream
print(dessert['name']['ice cream'][0]) # first flavor of ice cream

{'cake': ['chocolate', 'vanilla'], 'ice cream': ['mint', 'cookie dough']}
['chocolate', 'vanilla']
5
2
mint

In [ ]:
dessert['name']['cake'].append('birthday')  # can add/append a list
dessert['name']['cake']

['chocolate', 'vanilla', 'birthday']

In [ ]:
dessert = 0       # Object's space is reclaimed by 0
print(dessert)

0

In [ ]:
DDD = {'A':1, 'B':2, 'C':3}

In [ ]:
DDD['J'] = 100
DDD

{'A': 1, 'B': 2, 'C': 3, 'J': 100}

In [ ]:
# DDD['K']      # this will give an error since there is no key called K

In [ ]:
## We can check first if the key exists instead of creating an error

print('K' in DDD)  # checks if K is in DDD and prints True or False. In this case False

if not 'K' in DDD: # Use an if statement asking if K is in DDD like above.  This
  print('missing') # is false but since there is a 'not' this turns the statement
                   # true and alows the code to contine to the next line and
                   # print the word missing.  More on if statements later.

False
missing

In [ ]:
DDD.get('X',0)   # Find the value for when the key is X.  If no X, return 0.
# Same as this
# DDD['X'] if 'X' in DDD else 0

0

In [ ]:
F = {'a':1, 'c':2, 'b':3}
F_keys = list(F.keys())   # .keys gives you the keys of the dictionary
                          # You need list to change it to a list.
F_keys

['a', 'c', 'b']

In [ ]:
F_keys.sort() # sort in order
F_keys

['a', 'b', 'c']

In [ ]:
sorted(F)

['a', 'b', 'c']

In [ ]:
## Another way to display
for key in sorted(F):
  print(key, '=>', F[key])

a => 1
b => 3
c => 2

In [ ]:
## Tangent about for loops
# for loops are for iterating a process.
# The example below iterates the print function
# based on what i is.  In the first iteration i = 1
# then i = 2, so on an so forth until i = 5.  Once
# i = 5 is complete then the for loop terminates.
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [ ]:
## Tangent about while loops
# while loops are like for loops in the sense that it iterates
# but will keep going unless a certain condition is met.
# In the example below, the loop will only run when x is greater than 0.
# However, within in the loop, x=x-1 is making x smaller by 1 at each iteration.
# Eventually x will equal 0, and the condition will not be true and the loop
# will stop.

x = 3
while x > 0:
  print(x)
  x = x-1

# Note: avoid using while loops unless very necessary.  While loops can run forever
# and will require to hard stop your code.  For example, if I deleted x=x-1,
# the code will keep going forever, since the condition will always be true (x=3),
# no matter how many iterations take place.

3
2
1

In [ ]:
## These loops can be used on objects that are iterable like lists.

square = [y**2 for y in [1,2,3,4,5]]
square

[1, 4, 9, 16, 25]

In [ ]:
square = []           # To make the loop in this format you need to initiate the list.
for y in [1,2,3,4,5]:
  square.append(y**2)
square                # Same result as above.

[1, 4, 9, 16, 25]

## Tuples
Tupes are lists that cannot be changed.

They are sequences like lists.

But immutable like strings.

In [ ]:
T = (1,2,3,4)
T

(1, 2, 3, 4)

In [ ]:
print(T + (5,6))   # Concat
print(T[0])        # Index

(1, 2, 3, 4, 5, 6)
1

In [ ]:
# Tuple-specific Methods
T2 = (3, 5, 8, 1)
print(T2.index(8))  # The number 8 appears at position 2
print(T2.count(8))  # 8 appears once in the tuple

2
1

In [ ]:
## Tuples are immutable
# T2[0] = 2
# T2.append(4)
# This would produce an error because you cannot change the tuple.

In [ ]:
T2 = (2,)+T2[1:]  # This works becasue it is technically creating a new tuple,
                  # even if the name is the same.  T2 is being overwritten here.
T2

(2, 5, 8, 1)

In [ ]:
T3 = 'apple', 4, [12, 13, 14]  #Sometimes tuples do not need parenthesis
T3

('apple', 4, [12, 13, 14])

In [ ]:
print(T3[1])
print(T3[2][1])

4
13

## Files

Python can create, open, write, overwrite, and save files.

In [ ]:
f = open('say_hello.txt','w')  # Create a new file. 'w' means you can write in it.
f.write('Hello World!')        # Write in the file.
f.close()                      # Close the file.  This is very important!

# The file gets created in you current working directory.  For this example, the
# file should be in the file list of this colab.

In [ ]:
# Read the file
f = open('say_hello.txt','r')  # Open the file. 'r' means you read the file
out = f.read()                 # Get the texts.
f.close()                      # Close the file.
out

'Hello World!'

In [ ]:
out.split() # split the words

['Hello', 'World!']

In [ ]:
f = open('say_hello.txt','a')  # Create a new file. 'a' means you can append it.
f.write('\nHello Mars!')       # Write new line.
f.close()                      # Close the file.  This is very important!

In [ ]:
for line in open('say_hello.txt'):  # prints line by line
  print(line)

Hello World!

Hello Mars!

## Sets

In [ ]:
P = set('peanut')   # Make a set from a sequence
N = {'n','u','t'}   # Make a set out from each character

P,N

({'a', 'e', 'n', 'p', 't', 'u'}, {'n', 't', 'u'})

In [ ]:
print(P&N) # Intersection
print(P|N) # Union
print(P-N) # Difference

{'n', 'u', 't'}
{'e', 'p', 'n', 'a', 't', 'u'}
{'p', 'a', 'e'}

In [ ]:
list(set([1,2,3,1,2,3])) # remove duplicates

[1, 2, 3]

In [ ]:
set('apple') == set('pleap') # order doesn't matter

True

## Boolean

In [ ]:
print(1>2)
print(1<2)
print(1==2)
print(1!=2)

False
True
False
True

In [ ]:
print(True and True)
print(True and False)
print(False and False)
print(True or True)
print(True or False)
print(False or False)
print(not True)
print(not False)

True
False
False
True
True
False
False
True

## Find the type

type() tells you what type of object the varible is.

In [ ]:
print(type(L))
print(type(D))
print(type(2))
print(type(2.0))
print(type('2'))

<class 'list'>
<class 'dict'>
<class 'int'>
<class 'float'>
<class 'str'>

## User Defined Clases

In [ ]:
class fruits:                               # Name of the class
  def __init__(self, name, color, price):   # Initialize: self (the variable); name, color, and price are the attributes of self
    self.name = name                        # Name of fruit
    self.color = color                      # Color of fruit
    self.price = price                      # Price of fruit

In [ ]:
apple = fruits('apple', 'red', 1)
orange = fruits('orange', 'orange', 2)
banana = fruits('banana', 'yellow', 3)

In [ ]:
print(apple.color)
print(orange.name)
print(banana.price)

red
orange
3

## Assignment and Deletion
Reference: Chapter 11 of Lutz, Mark. *Learning Python*, 6th Edition, O'Reilly, 2025

In [ ]:
# Multiple variables can be assigned on one line.
a,b = 2, 'Hello'
print(a)
print(b)

2
Hello

In [ ]:
# Other assignment types
[first, second] = [1, 2]
print(first)
print(second)

x,y,z, = 'cat'    # Must have same number on each side
print(x)
print(y)
print(z)

f,  *g = 'apple'  # the * allows you to grab the rest of the object
print(f)
print(g)

snake = reptile = 'python'  # Assigne the same thing to two variable names
print(snake)
print(reptile)

1
2
c
a
t
<class 'str'>
a
['p', 'p', 'l', 'e']
python
python

In [ ]:
A,  *B, C = 'apple'  # the * allows you to grab the rest of the object that is not designated.
print(A)
print(B)   # Not that the starred item is in a list. This is true for single items as well.
print(C)

a
['p', 'p', 'l']
e

In [ ]:
del a

print(a)  # this should yield an error

NameError: name 'a' is not defined