To start, click File --> Save Notebook As...

Then you can have your own copy you can modify.

# Dynamic Typing
Adapted from Chapter 6 of Lutz, Mark. *Learning Python*, 6th Edition, O'Reilly, 2025

## Variables

In [1]:
## Dynamic typing is the process of creating variables and allocating
## memory for that informtion.

In [2]:
# Simple Example
a = 5
a
# a now points to the number 5

In [6]:
a = 5
a = 3     # a is overwritten with the number 3, so it points to 3 instead of 5
print(a)

3

In [5]:
a = 5
b = a
print(a)
print(b)

# a and b now point to 5

5
5

In [8]:
a = 5
b = a
a = 'Hello'
print(a)
print(b)

# Like before, 'a' gets reallocated, but 'b' remains the same.  It still points to 5.

Hello
5

In [10]:
N = [1,2,3]
M = N
print(N)
print(M)

[1, 2, 3]
[1, 2, 3]

In [11]:
N = [1,2,3]
M = N
N = [4,5,6]
print(N)
print(M)
# Like before 'N' get reallocated, but 'M' remains the same.  It still points to [1,2,3].

[4, 5, 6]
[1, 2, 3]

### Very important!!!

In [12]:
N = [1,2,3]
M = N
N[0] = 234
print(N)
print(M)

# Both now get changed!  Even though only N[0] was called.
# Both still point to the same list.  So when one list is changed, it changed
# for both variables.

[234, 2, 3]
[234, 2, 3]

In [13]:
## To designate a differnt list (or dictionary) to change use copy
N = [1,2,3]
M = N.copy()  # or M = N[:]
N[0] = 234
print(N)
print(M)

[234, 2, 3]
[1, 2, 3]

### Checking if it points to the same object.

In [14]:
N = [1,2,3]
M = N
print(N == M)  # the literal values are the same
print(N is M)  # they point to the same object

True
True

In [15]:
N = [1,2,3]
M = [1,2,3]
print(N == M) # The literal values are the same
print(N is M) # They are not pointing to the same object. Answer: False

True
False

In [16]:
X = 7
Y = 7
print(X == Y)
print(X is Y)
# It says it references the same object because sometimes
# integers and strings get cahced.

True
True