To start, click File --> Save Notebook As...

Then you can have your own copy you can modify.

Reference:

Chapter 10: Introducing Python Statements of Lutz, Mark. *Learning Python*, 6th Edition, O'Reilly, 2025

# if/elif/else Statements

In [ ]:
# if statements run as long as the statement is true

if True:
  print("This is true")     # This will always print

if False:
  print("This is false")    # This will never print

This is true

In [ ]:
# The if statement can be formatted in many different ways depending on what you need.

if 2+2 == 4:
  print("This is true")           # The next line of an if statement MUST be indented.

if 100<200:
  print("100 is less than 200")

txt = "Hello World!"
if "Hello" in txt:
  print("Hello is in the text")

# As long as the statement is true the next step will execute.

This is true
100 is less than 200
Hello is in the text

In [ ]:
# What if you want to do somethin different if the statement is false?

if False:
  print("This does not execute.")
else:
  print("Success!")

# You can use an if/else format.  If the first part is false, then it will do the line under the else statement

Success!

In [ ]:
# Other examples
n = 1

if n == 10:   # This line is false therefore it does not print 10
  print(n)
else:         # the code goes to this line
  n = n+1     # 1 is added to n and assigned to the variablen
  print(n)    # n is printed and should be 2 (if n started as 1)

2

In [ ]:
# Another example: I will set this up as a function so we can try multiple
# inputs (functions are covered in part 10)

def use_fruit(fruit):

  if fruit == "lemon":
    print("Make lemonade!")
  else:
    print("Make fruit salad!")

use_fruit("lemon")          # "lemon" becomes the input of use_fruit(fruit), then it goes throught the if else statement.
use_fruit("watermelon")     # "watermelon" does not equal "lemon" so the else statement is activated.
use_fruit("grapes")         # Same with "grapes"

Make lemonade!
Make fruit salad!
Make fruit salad!

In [ ]:
# What if we have multiple pathways we want to go down.  We can use elif

n = 3

if n > 5:                     # n is less than 5 so this is false, it will not execute
  print("Greater than 5")
elif n < 5:                   # n is less than 5 so this is true and will print "Less than 5"
  print("Less than 5")
else:                         # This part will NOT be evaluated, because the above elif statement is true.
  print("Equal to 5")

# Try changing n around to see the different reponses you will get.

Less than 5

In [ ]:
# You can use as many ifel statements that you want.

# Another example: I will set this up also as a function so we can try multiple
# inputs (functions are covered below)

def use_more_fruit(fruit):

  if fruit == "lemon":
    print("Make lemonade!")
  elif fruit == "apple":
    print("Make apple pie!")
  elif fruit == "orange":
    print("Make orange juice")
  elif fruit == "avocado":
    print("Make guacamole!")
  else:
    print("Make fruit salad!")

use_more_fruit("lemon")
use_more_fruit("avocado")
use_more_fruit("apple")
use_more_fruit("watermelon")

Make lemonade!
Make guacamole!
Make apple pie!
Make fruit salad!

In [ ]:
# Make sure it is indented properly, otherwise errors may occur or cause unexpected results

x = 2

if x==2:
  x = x+2
else:
  x = 3
x = x+3     # this is not in the if/else statement and will always be implemented; this line should be indented in order to go under the else statement portion.
print(x)    # since x = 2, the if statement is true, so it adds 2, given x = 4.  But since x=x+3 is not in the else statement it adds 3 more given an answer of 7.

7

In [ ]:
## Remember the colon!!
# The if/elif/else statements all need colons.  This is a common mistake

In [ ]:
# Also keep in mind that only the first True statement will execute the rest will
# be ignored.  So the order of your statements may be important.
if True:
  print("This will print")
elif True:
  print("This will not print")
elif True:
  print("This will also not print")
elif True:
  print("This will also not print")
else:
  print("This will not not print")

This will print

In [ ]:
## Also you can nest if/esle statements

y = 10

if y >5:
  if y <20:
    print("y is between 5 and 20")
  else:
    print("y is greater than 20")
else:
  print("y is less than 5")


# Here if y is greater than 5 it will go into the nested if/else statement.
# Notice that the nested if/else statement is indented another level. this is
# necessary to the flow of the code.  If y = 2, then it would skip over the nested
# if/else statment and print "y is less than 5".  Try using different numbers to
# see the results.

y is between 5 and 20

In [ ]:
#using and and or

u = 5
v = 7

if (u == 5) and (v == 6):   # both statements must be true to execute the next statement.
    print(u + v)
else:                       # since v does not equal 6, the else statement will execute and give -2
    print(u - v)


if (u == 5) or (v == 6):   # only one statement needs to be true to execute the next statement.
    print(u + v)           # since at least u == 5 the numbers are added to 12
else:
    print(u - v)

-2
12

In [ ]:
# Another syntax
# Sometimes to safe room the if statment can be written like this:
# This format must have both if and else in the line of code

x = 2
y = x+2 if x >0 else x  # if x is greater than 0 do: y= x+2 else y=x
y

4

## True and False Revisited

In [10]:
# X and Y are boolean values
X = True
Y = False

if X or Y:                        # Only one needs to be True for the statement to be True
  print("At least one is true")
else:
  print("Both are false")

# Other syntax
if X | Y:                         # Same as above
  print("At least one is true")
else:
  print("Both are false")

At least one is true

In [11]:
X = True
Y = False

if X and Y:                     # Both needs to be True for the statement to be True
  print("Both are true.")
else:
  print("One is false.")

# Other syntax
if X & Y:                       # Same as above
  print("Both are true.")
else:
  print("One is false.")

One is false.

In [12]:
X = True
Y = False

if not X:               # Not X is not True so it is false, so it goes to the else statement.
  print("X is false")
else:
  print("X is true")

if not Y:               # Not Y is not False so it is true, so it goes to the if statement.
  print("Y is false")
else:
  print("Y is true")

X is true
Y is false

In [23]:
X = True
Y = False
Z = True
A = False

if (X or Y) and (Z or A):  # You can also combine statements.
  print("Some are true")

Some are true

In [19]:
# A strange case
# Everything I show doesn't need to be used by you, but if you come across this
# in code you find, you will understand what it means.

4 and 3, 3 and 4  # This checks if it is true.  FYI anything that is not 0, empty, or None is True
                  # Since 2 and 3 are not 0 both are true.  So it is True, True.
                  # When it is true it prints the second entry so it gives (3,4)

(3, 4)

In [16]:
[] and {} # The first entry is false, so it stops and prints the empty list

[]

In [20]:
4 and []  # Same but the second entry is false.

[]

In [22]:
print(4 or 3, 3 or 4)  # Returns the left.  Returns first true.
print([] or {})        # checks the first, which is false.  then checks the right which is also false, so the right is printed.
print(4 or [])         # 4 is true.

4 3
{}
4

# Match Case

In [ ]:
# Match Case is very similar to if/else with some different syntax

x = 10

match x:                    # This tells the code to look at x
  case 10:                  # If x is 10 the next part of the code executes.
    print("It is 10!")
  case _:                   # If it is anything else it will execut this code.
    print("It is not 10!")

It is 10!

In [ ]:
day = 'Monday'

match day:
    case "Monday" | "Tuesday" | "Wednesday" | "Thursday" | "Friday":  # the "|" symbol means OR  (For AND you can use &)
        print("Weekday")
    case "Saturday" | "Sunday":
        print("Weekend")
    case _:
        print("Invalid day")

Weekday

### Example from Lutz, Mark, Learning Python 6th Edition 2025

https://learning-python.com/about-lp6e.html

Code: https://learning-python.com/cgi/showcode.py?name=LP6E/Chapter12/matchdemo.py

In [8]:
# state = 1 or
#   [1, 2, 3] or [0, 2, 3] or (1, 2, 3) or (0, 2, 3) or
#   dict(a=1, b=2, c=3) or dict(a=0, b=2, c=3) or other

state = [0, 2, 3]

match state:
    case 1 | 2 | 3 as what:              # Match integer literals, what = 1
        print('or', what)

    case [1, 2, what]:                   # Match sequence (1), what = 3
        print('list', what)
    case [0, *what]:                     # Match sequence (0), what = [2, 3]
        print('list', what)

    case {'a': 1, 'b': 2, 'c': what}:    # Match mapping, what = 3
        print('dict', what)
    case {'a': 0, **what}:               # Match mapping, what = {'b': 2, 'c': 3}
        print('dict', what)

    case (1, 2, what):                   # Match sequence: same as [1, 2, what]
        print('tuple', what)
    case (0, *what):                     # Match sequence: same as [0, *what]
        print('tuple', what)

    case _ as what:                      # Match all other, what = other
        print('other', what)

list [2, 3]

## Walrus operator

There is another operator you may come across called the walrus operator, which shortens the code you need to write.

In [ ]:
# example
if (x := 5) > 3:
    print(x)

5

In [2]:
# Another example
words = ["hello", "world", "python", "programming"]

[(x, length) for x in words if (length := len(x)) > 5]

[('python', 6), ('programming', 11)]