To start, click File --> Save Notebook As...

Then you can have your own copy you can modify.

Reference:

Chapters 13-14 Lutz, Mark. *Learning Python*, 6th Edition, O'Reilly, 2025

# While Loops

In [ ]:
## DO NOT RUN THIS!
## while loops will keep runing as long as the statement is true.
## The example below is called an infinite loop.  It will keep runing because
## there is nothing that changes the statement so it will always be true.
## If you accidently create an infinite loop, press control+c or click the stop button.

# while True:
#   print("Control+C")

In [ ]:
x = 0
while x < 5:    # This will only run if x is less than 5, but x changes in the loop
  print(x)      # Everything in the loop must be indented.
  x += 1        # shorthand code for x = x+1, which adds 1 to x every iteration after printing it.

print('x now equals '+str(x))  # This part is outside the loop.  The while loop stopped because x = 5, which makes x<5 False.

0
1
2
3
4
x now equals 5

In [ ]:
while False:                # The loop won't run becasue the statement is false.
  print("This won't run")
else:                       # However, you have the option to add an else statement for when the loop stops.
  print("This will run")

In [ ]:
## We can recode the example as:
x = 0
while x < 5:    # This will only run if x is less than 5, but x changes in the loop
  print(x)      # Everything in the loop must be indented.
  x += 1        # shorthand code for x = x+1, which adds 1 to x every iteration after printing it.
else:
  print('x now equals '+str(x))  # This part is now inside the else statement.  The while loop stopped because x = 5, which makes x<5 False and went to the else statement.

0
1
2
3
4
x now equals 5

In [ ]:
# Using pass statement

count = 0

while count < 5:
    if count == 2:
        # Do nothing when count is 2
        pass
    else:
        print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 3
Count is: 4

In [ ]:
# Using ...

count = 0

while count < 5:
    if count == 2:
        # Do nothing when count is 2
        ... # Does the same thing as pass
    else:
        print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 3
Count is: 4

In [ ]:
# continue: skips to the top of the loop
# Use this sparingly.
count = 0

while count < 5:
    count += 1
    if count == 3:
        # Skip the rest of the loop when count is 3
        continue
    print("Count is:", count)   # This is skipped when count == 3.

Count is: 1
Count is: 2
Count is: 4
Count is: 5

In [ ]:
# break
x = 0
while True:  # Normally this would be an infinite loop however, the break will stop the loop.
  x += 1     # Add 1 to x for each iteration.
  print(x)
  if x == 5:
    break   # The break stops the loop from running.

1
2
3
4
5

In [ ]:
# pass, ..., continue, and break work for for loops too.

## Interactive Loops

In [ ]:
## Interactive Loops

while True:
  answer = input('Enter text:')     # Input will pause the code and wait for the user to input text.
  if answer == 'stop':              # This loop will go on forever unlessthe user types stop.
    break                           # This "breaks" the loopand will stop the code
  print(f'Received: {answer}')      # This is NOT in the if statement and will execute as long as the answer doesn't equal 'stop'.

Enter text:Hello!
Received: Hello!
Enter text:How are you?
Received: How are you?
Enter text:stop

In [ ]:
## Another example

while True:
  answer = input('Enter number:')
  if answer == 'stop':
    break
  multiply = int(answer) * 5              # You have to change it to an integer or it won't be able to do math operations.
  print(f'Multiplied by 5= {multiply}')

Enter number:5
Multiplied by 5= 25
Enter number:3
Multiplied by 5= 15
Enter number:10
Multiplied by 5= 50
Enter number:stop

In [ ]:
## Add error warnings so that the code can continue to execute.
# The problem with the code above, if you enter something that is not a number
# you will get the answer you expect. Therefore with the use of elif, you can
# tell the user it is not a digit.

while True:
  answer = input('Enter number:')
  if answer == 'stop':
    break
  elif not answer.isdigit():
    print(f'{answer} is not a number')   # This will print and the loop will continute so the user has another try to put in a number.
  else:
    multiply = int(answer) * 5
    print(f'Multiplied by 5= {multiply}')

Enter number:hello
hello is not a number
Enter number:5
Multiplied by 5= 25
Enter number:stop

In [ ]:
## This works the same way but with a try statement.
while True:
  answer = input('Enter number:')
  if answer == 'stop':
    break
  try:                                        # The code trys this code
    multiply = int(answer) * 5
    print(f'Multiplied by 5= {multiply}')
  except:                                     # If there is an error, this code will execute.
    print(f'{answer} is not a number')

Enter number:hello
hello is not a number
Enter number:5
Multiplied by 5= 25
Enter number:stop

In [ ]:
# Try to avoid using while loops and use for loops instead. Sometimes this can't
# be avoided, but infinite loops should be

# For Loops

For Loops are iterative loops that have a set number of iterations, unlike while loops.

In [ ]:
x = [1,3,3,8,5] # a list

for i in x:     # for i (an iteration counter, doesn't need to be i) iteration through the list x
  print(i)      # print i

1
3
3
8
5

In [ ]:
fruits = ['apple','cherry','orange','banana','pear','watermelon']
for fruit in fruits:            # There are six fruits in the list.  The for loop pulls each one (in order) and renames it fruit for one iterations
  print('I ate a(n) '+fruit)    # Prints the statement with the current fruit.

I ate a(n) apple
I ate a(n) cherry
I ate a(n) orange
I ate a(n) banana
I ate a(n) pear
I ate a(n) watermelon

In [ ]:
sum_num = 0                            # Must create add_num before putting it into the loop becuase it is called within the loop.
for num in [1,2,3,4]:
  sum_num = sum_num + num              # Add the next number
  print(sum_num)                       # This is in the loop and executes each iteration
print('The final answer is:',sum_num)  # This is not in the loop and is executed last

# a quicker way to do this is:
# print(sum([1,2,3,4]))

1
3
6
10
The final answer is: 10

In [ ]:
matrix = [[1,2],
          [3,4],
          [5,6]]

for a,b in matrix:  # You can unpack a list by having two variables.
  print(a,b,a+b)

1 2 3
3 4 7
5 6 11

In [ ]:
# For loops work for dictionaries as well.

D  = {'First Name':'Luke','Last Name':'Skywalker','Hometown':'Tatooine'}
for key in D:
  print(key+": "+D[key])

First Name: Luke
Last Name: Skywalker
Hometown: Tatooine

In [ ]:
## Nested for loops
x = [1,2,3]
y = ['a','b','c']

for i in x:
  for j in y:
    print(i,j)

# Nested for loops can be useful, but try to find another way of solving the
# problem. The nested for loops can run really slowly depending on your
# application.

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [ ]:
## Nested for loops with if statement
x = [1,2,3]
y = [1,3,4]

for i in x:
  for j in y:
    if i == j:
      print('Equal',i,j)
    else:
      print('Not equal',i,j)

Equal 1 1
Not equal 1 3
Not equal 1 4
Not equal 2 1
Not equal 2 3
Not equal 2 4
Not equal 3 1
Equal 3 3
Not equal 3 4

## For loop helpers


*   range
*   zip
*   enumerate

### range

In [ ]:
# you can designate a range of numbers for the for loop
for i in range(5):  # range goes from 0 to n-1, where n is the number you entered.
  print(i)

0
1
2
3
4

In [ ]:
# range helps with iterations, it is its own object type.
print(range(5))
print(list(range(5)))  # you need to put it in a list() to make a list.

range(0, 5)
[0, 1, 2, 3, 4]

In [ ]:
for i in range(2,5): # you can choose a start number
  print(i)

2
3
4

In [ ]:
for i in range(2,10,2):  # the third number is the steps, so this will only print even numbers 2 to 8. The range goes up to 9 (n-1), but that is not a 2 multiplier
  print(i)

2
4
6
8

In [ ]:
# you can create lists with specific ranges
num_list = []           # you must define the list first even if its empty.
for i in range(0,37,9):
  num_list.append(i)    # append adds to the list.
print(num_list)         # This is not in the loop. It is not indented.

# a quicker way to make a list.
# list(range(0,37,9))

[0, 9, 18, 27, 36]

In [ ]:
# try not to use range in a for loop though.  It is simple enough to grab the items from the input
items = ['candy bar','rubber band','paper clip']
for item in items:
  print(item)

# The above is better than:
for i in range(len(items)):
  print(items[i])

candy bar
rubber band
paper clip
candy bar
rubber band
paper clip

In [ ]:
# one case range is needed in a for loop
num = [1,2,3,4,5,]
for i in range(len(num)):
  num[i]=num[i]*10          # you can reassign elements of a list by calling a specific element directly.

print(num)

[10, 20, 30, 40, 50]

In [ ]:
# a more compact code
num = [1,2,3,4,5,]
num = [n*10 for n in num]
print(num)

[10, 20, 30, 40, 50]

In [ ]:
# this does not work, because you are not changing num only n each iteration
num = [1,2,3,4,5,]
for n in num:
  n=n*10          # you can reassign elements of a list by calling a specific element directly.

print(num)

[1, 2, 3, 4, 5]

### zip

In [ ]:
num1 = [1,2,3,4]
num2 = [5,6,7,8]
print(zip(num1,num2))  # this becomes a zip object
print(list(zip(num1,num2)))   # this turns the zip object into a list

<zip object at 0x7b0f1ec87140>
[(1, 5), (2, 6), (3, 7), (4, 8)]

In [ ]:
# Using zip in for loop
num1 = [1,2,3,4]
num2 = [5,6,7,8]
for a,b in zip(num1,num2):  # extracts from the lists in parallel.
  print(a+b)

6
8
10
12

In [ ]:
# Zip is not limited to 2 items
M1 = [1,2,3]
M2 = [4,5,6]
M3 = [7,8,9]

list(zip(M1,M2,M3))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [ ]:
# you can zip two things of unequal length, but it will stop at the shortest length
N1 = [1,2,3,4,5]
N2 = ['a','b','c']
list(zip(N1,N2))
# only up to 3 is used from N1

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
# zip makes it easier to make dictionaries
keys = ['fruit','color','amount']
vals = ['apple','red',5]

D  = {}  # create an empty dictionary

for (k,v) in zip(keys,vals):
  D[k] = v

print(D)

{'fruit': 'apple', 'color': 'red', 'amount': 5}

In [ ]:
# a more compact way
{k:v for (k,v) in zip(keys,vals)}

{'fruit': 'apple', 'color': 'red', 'amount': 5}

### enumerate

In [ ]:
fruit = 'apple'
for (i,letter) in enumerate(fruit):     # i is the location and letter is the letter in the string
  print(i,letter)

0 a
1 p
2 p
3 l
4 e

In [ ]:
# enumerate is iteratible
E = enumerate(fruit)
print(E)
print(next(E))
print(next(E))

<enumerate object at 0x79b9b55dac00>
(0, 'a')
(1, 'p')

In [ ]:
# A convoluted example
num1 = [1,2,3,4]
num2 = [5,6,7,8]
for (i,n1) in enumerate(num1):  # extracts from the lists in parallel.
  print(i,n1+num2[i])           # it will add the same spot in num1 and num2 like before

0 6
1 8
2 10
3 12

### Putting it together

In [ ]:
for ii in enumerate(zip(range(1,5),['a','b','c','d'])): print(ii)

(0, (1, 'a'))
(1, (2, 'b'))
(2, (3, 'c'))
(3, (4, 'd'))

# map and filter

In [ ]:
## map can "map" functions onto other objects in an iterative manner

# Finding the max
L = [1,2,3,4]
max_L = max(L)
print(max_L)

M = [[1,2,4,1],
     [5,9,4,3],
     [25,10,4,9],
     [20,36,49,87]]

max_M = map(max,M)  # map takes the function and then the object the function is acted on.
print(max_M)        # this is just a map function.
print(list(max_M))  # It needs to be made into a list to see results


# otherwise a for loop is needed
max_M = []
for i in M:
  max_M.append(max(i))
print(max_M)

4
<map object at 0x7ba259e4ffd0>
[4, 9, 25, 87]
[4, 9, 25, 87]

# List Comprehensions

We saw this before, but let's go into more detail.  This can run faster than your standard for loop.

In [ ]:
# Example
num = [1,2,3,4,5]
square = [x**2 for x in num]  # Its almost a backwards for loop.  The result you want is first, and then what you want to iterate over.  It is all contained in brackets.
square

## for loop format
# square = []
# for x in num:
#   square.append(x**2)

[1, 4, 9, 16, 25]

In [15]:
# This works really well when using files.
# First lets create a file.
with open("hello.txt", "w") as file:
    file.write("Hello World!\n")
    file.write("What's up Mars!\n")
    file.write("Hi Venus!\n")
# With this there will now be a file in your current working directory.
# Now lets read it and put it in a list.
[line for line in open('hello.txt')]
# Note: this notation will automatically close the file, like using the with open() as file: format.

['Hello World!\n', "What's up Mars!\n", 'Hi Venus!\n']

In [16]:
# There are new line symbols.  We can get rid of these as we load them.
[line.strip() for line in open('hello.txt')]

['Hello World!', "What's up Mars!", 'Hi Venus!']

In [17]:
# We can add to the commands to further change the output.
[line.strip().upper().replace('!','?').split() for line in open('hello.txt')]
# strip gets rid of the new line
# upper makes everything capitalized
# replace changes any '!' character to a '?' character
# and split, makes a list of the string by splitting it where there is a space.
# Instead of writing a line of code for each of these operations you can chain them like above.

[['HELLO', 'WORLD?'], ["WHAT'S", 'UP', 'MARS?'], ['HI', 'VENUS?']]

In [18]:
# This has an added if statement that will only load lines that begin with the letter H.
[line.strip() for line in open('hello.txt') if line.startswith('H')]

['Hello World!', 'Hi Venus!']

In [27]:
# An even shorter code
list(open('hello.txt'))

['Hello World!\n', "What's up Mars!\n", 'Hi Venus!\n']

## Nested List Comprehension

In [23]:
[nucl1+nucl2 for nucl1 in 'atgc' for nucl2 in 'atgc']

['aa',
 'at',
 'ag',
 'ac',
 'ta',
 'tt',
 'tg',
 'tc',
 'ga',
 'gt',
 'gg',
 'gc',
 'ca',
 'ct',
 'cg',
 'cc']

## Other tricks

In [28]:
sorted(open('hello.txt')) # Puts in alphabetical (or numeric) order.

['Hello World!\n', 'Hi Venus!\n', "What's up Mars!\n"]

In [29]:
sum(range(10))

45

In [30]:
max(open('hello.txt')) # return longest line

"What's up Mars!\n"

In [31]:
all(open('hello.txt')) # All lines are not empty

True