To start, click File --> Save Notebook As...

Then you can have your own copy you can modify.

Reference:

Part II: "Introduction To NumPy", VanderPlas, Jake. *Python Data Science Handbook*, 2nd Edition, O'Reilly, 2022

You can find the book and code from the book here: https://github.com/jakevdp/PythonDataScienceHandbook

# Import Numpy into Python

In [1]:
## If you don't have numpy on your computer run this code:

# !pip install numpy

In [2]:
import numpy as np # Instead of typing numpy for each time you need something
                   # from the numpy library, import it as np, so you only need
                   # to type np.

In [3]:
np.__version__  # Find the version of numpy.

'2.0.2'

You can go to the numpy website: https://numpy.org/

In [4]:
# dir(np) # Get all functions under numpy

In [5]:
# Making an array

arr = np.array([1,2,3,4,5])  # These MUST have the same data type, unlike python list.
print(arr)
print(type(arr))             # This is not a list class, it is a Numpy array

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [6]:
np.array([[1,2],[2,4]])  # 2D array

array([[1, 2],
       [2, 4]])

In [7]:
np.array([1,2,3], dtype='float32')  # you can pick the type in which the array in defined.

array([1., 2., 3.], dtype=float32)

In [8]:
np.array?

In [9]:
np.array([range(i, i + 3) for i in [10, 12, 14]])

array([[10, 11, 12],
       [12, 13, 14],
       [14, 15, 16]])

In [10]:
# You can create arrays of 0s using this:
np.zeros(5, dtype=int) #5 zeros designated as integers

array([0, 0, 0, 0, 0])

In [11]:
np.ones((3,4), dtype=float) # 3 rows and 4 columns of type float

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [12]:
np.full((4,5), np.pi) # 4 rows and 4 columns of pi which can be called using np.pi

array([[3.14159265, 3.14159265, 3.14159265, 3.14159265, 3.14159265],
       [3.14159265, 3.14159265, 3.14159265, 3.14159265, 3.14159265],
       [3.14159265, 3.14159265, 3.14159265, 3.14159265, 3.14159265],
       [3.14159265, 3.14159265, 3.14159265, 3.14159265, 3.14159265]])

In [13]:
np.arange(3,15,3) # a range of numbers 3 to 15 (15 not included) but every third number

array([ 3,  6,  9, 12])

In [14]:
print(np.linspace(0,2,5)) # Numbers between 0 to 2, the 5 designates how many elements are in the array.
print(np.linspace(0,2,9))

[0.  0.5 1.  1.5 2. ]
[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]

In [15]:
np.random.random((4,4)) # 4 rows and 4 columns of random numbers

array([[0.27834026, 0.56450938, 0.21636466, 0.08761401],
       [0.27708575, 0.48608616, 0.20772353, 0.49020515],
       [0.01361106, 0.76867988, 0.20564582, 0.14883304],
       [0.77002819, 0.45450266, 0.92926583, 0.60247256]])

In [16]:
np.random.normal(0,1,(4,4)) # Random numbers from a normal distribution with a mean of 0 and a standard deviation of 1 for a 4x4 matrix.

array([[-0.4064671 ,  0.04810654, -0.02737045, -0.95373503],
       [-0.01175943,  0.34288371,  1.7619224 ,  2.15859758],
       [ 0.67638779,  0.55775055, -2.95095402,  0.95829411],
       [ 0.06968218,  0.41643647, -0.8269929 , -1.25217212]])

In [17]:
np.random.randint(1,100,(4,4)) # Random integers between 1 and 100 for a 4x4 matrix.

array([[ 8, 61,  5, 70],
       [79, 67, 36, 54],
       [13, 48, 51, 16],
       [52, 74, 14, 46]])

In [18]:
np.eye(4) # Identity Matrix

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [19]:
np.empty(4)

array([1., 1., 1., 1.])

# Data types in Numpy

![image.png]()

# Numpy Array Attributes

In [20]:
seed = np.random.RandomState(42)  # This gives a seed, which will makes sure you get the same answer every time you run this block of code.
X = seed.randint(100, size=5)          # 1D array
Y = seed.randint(100, size=(3, 5))     # 2D matrix
Z = seed.randint(100, size=(3, 5, 2))  # 3D matrix
print(X)
print('\n')  # I added these for easier viewing
print(Y)
print('\n')
print(Z)

[51 92 14 71 60]


[[20 82 86 74 74]
 [87 99 23  2 21]
 [52  1 87 29 37]]


[[[ 1 63]
  [59 20]
  [32 75]
  [57 21]
  [88 48]]

 [[90 58]
  [41 91]
  [59 79]
  [14 61]
  [61 46]]

 [[61 50]
  [54 63]
  [ 2 50]
  [ 6 20]
  [72 38]]]

In [21]:
print("Number of dimensions: " + str(Z.ndim))   # Number of Dimensions
print("Number of dimensions: " + str(Z.shape))  # Length of each dimension of matrix
print("Number of dimensions: " + str(Z.size))   # Number of elements in matrix
print("Number of dimensions: " + str(Z.dtype))  # Type of data in matrix

Number of dimensions: 3
Number of dimensions: (3, 5, 2)
Number of dimensions: 30
Number of dimensions: int64

In [22]:
Z.shape

(3, 5, 2)

In [23]:
# Indexing (It is similar to lists, but look at the difference for multidimensional array.)
print(X)
print(X[0])
print(X[1])
print(X[2:4])
print(X[-1])
print(X[0:4:2])
print(X[::3]) # Every third item
print(X[1::2]) # Every 2nd starting at the 1 position.
print(X[::-1]) # Reverse the array

[51 92 14 71 60]
51
92
[14 71]
60
[51 14]
[51 71]
[92 71]
[60 71 14 92 51]

In [24]:
# Indexing 2D arrays
print(Y); print('\n')
print(Y[0])          # Prints first row (position 0)
print(Y[0, 0])
print(Y[1, 3])
print(Y[-1, -1])
print(Y[0:2, 1:3])
print(Y[:2, :3])
print(Y[::-1, ::-1]) # All columns and rows are reversed.

[[20 82 86 74 74]
 [87 99 23  2 21]
 [52  1 87 29 37]]


[20 82 86 74 74]
20
2
37
[[82 86]
 [99 23]]
[[20 82 86]
 [87 99 23]]
[[37 29 87  1 52]
 [21  2 23 99 87]
 [74 74 86 82 20]]

In [25]:
# Indexing 3D arrays
print(Z); print('\n')
print(Z[0, 0, 0])
print(Z[1, 1, 1])

[[[ 1 63]
  [59 20]
  [32 75]
  [57 21]
  [88 48]]

 [[90 58]
  [41 91]
  [59 79]
  [14 61]
  [61 46]]

 [[61 50]
  [54 63]
  [ 2 50]
  [ 6 20]
  [72 38]]]


1
91

In [26]:
# Be careful!!  If you reassign an element it will take on the type of the array.
X[0] = 2.5
print(X)    # 2.5 will be truncate to 2 because X is an int type array.

[ 2 92 14 71 60]

## Subarrays

In [27]:
num = [[1,2,3,4],     # This is a list
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]]
M = np.array(num)     # Create an array
print(M)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

In [28]:
M_sub = M[:3,:3]
M_sub

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11]])

In [29]:
M_sub[0,0]= 999
print(M_sub)

[[999   2   3]
 [  5   6   7]
 [  9  10  11]]

In [30]:
print(M)    # The original matrix is also changed!!!

[[999   2   3   4]
 [  5   6   7   8]
 [  9  10  11  12]
 [ 13  14  15  16]]

In [31]:
M_sub2 = M[:3,:3].copy()  # You need to use copy (like a list).
M_sub2

array([[999,   2,   3],
       [  5,   6,   7],
       [  9,  10,  11]])

In [32]:
M_sub2[0,0]=0
print(M_sub2)

[[ 0  2  3]
 [ 5  6  7]
 [ 9 10 11]]

In [33]:
M   # The original matrix has not changed.

array([[999,   2,   3,   4],
       [  5,   6,   7,   8],
       [  9,  10,  11,  12],
       [ 13,  14,  15,  16]])

## Reshaping of Arrays

In [34]:
V = np.arange(1,10)
print(V)

[1 2 3 4 5 6 7 8 9]

In [35]:
V.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [36]:
print(V)  # The reshape remains without reassigning.

[1 2 3 4 5 6 7 8 9]

In [37]:
# Can create matrix in one line.
V = np.arange(1,10).reshape(3,3)
print(V)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [38]:
U = np.array([0,1,2])
print(U)
U.reshape((3,1))  # Turns array row into a column

[0 1 2]

array([[0],
       [1],
       [2]])

## Concatenate Arrays

In [39]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
np.concatenate([a1,a2])

array([1, 2, 3, 4, 5, 6])

In [40]:
a3 = np.array([0,0,0])
np.concatenate([a1,a2,a3])  # Can concate more than one.

array([1, 2, 3, 4, 5, 6, 0, 0, 0])

In [41]:
a_2d = np.array([[1,2,3],
                [4,5,6]])

np.concatenate([a_2d,a_2d])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [42]:
a_2d = np.array([[1,2,3],
                [4,5,6]])

np.concatenate([a_2d,a_2d],axis=1)  # You can determine how the arrays are combined.

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [43]:
# vertically stack
np.vstack([a1,a_2d])

array([[1, 2, 3],
       [1, 2, 3],
       [4, 5, 6]])

In [44]:
# horizontal stack
a4 = np.array([[0],
               [0]])

np.hstack([a_2d,a4])

array([[1, 2, 3, 0],
       [4, 5, 6, 0]])

## Splitting of Arrays

In [45]:
V = [1,2,3,11,12,13,21,22,23]

v1, v2, v3 = np.split(V,[3,6]) # Split at location 3 and 6
print(v1,v2,v3)
v1, v2, v3 = np.split(V,[2,4]) # Split at location 2 and 4
print(v1,v2,v3)

[1 2 3] [11 12 13] [21 22 23]
[1 2] [ 3 11] [12 13 21 22 23]

In [46]:
MM = np.arange(36).reshape(6,6)
print(MM)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

In [47]:
top, bottom = np.vsplit(MM,[4]) # Split vertically at position 4
print(top)
print('\n')  # Separator to view matrices better.
print(bottom)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]


[[24 25 26 27 28 29]
 [30 31 32 33 34 35]]

In [48]:
left, right = np.hsplit(MM,[2]) # Split horizontally at position 2
print(left)
print('\n')  # Separator to view matrices better.
print(right)

[[ 0  1]
 [ 6  7]
 [12 13]
 [18 19]
 [24 25]
 [30 31]]


[[ 2  3  4  5]
 [ 8  9 10 11]
 [14 15 16 17]
 [20 21 22 23]
 [26 27 28 29]
 [32 33 34 35]]

# Computation on NumPy Arrays

In [49]:
# Can undergo simple operations
num_arr = np.array([1,2,3])

print(num_arr+2)
print(num_arr*2)
print(num_arr/2)
print(num_arr//2)
print(num_arr**2)

[3 4 5]
[2 4 6]
[0.5 1.  1.5]
[0 1 1]
[1 4 9]

In [50]:
# This is dfferent from lists
print([1,2,3]*2)    # The doubles the length of the list
# print([1,2,3]+2)  # This does not work

[1, 2, 3, 1, 2, 3]

In [51]:
# You can create longer equations
num_arr = np.array([1,2,3])

num_arr**2 + num_arr*3+4

array([ 8, 14, 22])

In [52]:
# You can use built in numpy operations as well
num_arr = np.array([1,2,3])

print(np.add(num_arr,2))
print(np.multiply(num_arr,2))
print(np.divide(num_arr,2))
print(np.floor_divide(num_arr,2))
print(np.power(num_arr,2))

[3 4 5]
[2 4 6]
[0.5 1.  1.5]
[0 1 1]
[1 4 9]

In [53]:
# Constants: Numpy as different constants for easy use

print(np.pi)
print(np.e)
print(np.euler_gamma)

3.141592653589793
2.718281828459045
0.5772156649015329

In [54]:
# There are also other functoins that can be called.
print(np.sqrt(144))
print(np.sin(0.5*np.pi)) # and other trigonometric functions (cos, tan, arcsin, arccose, arctan, etc.)
print(np.abs(-8))
print(np.exp(np.array([1,2,3])))
print(np.log10(100))
print(np.log2(100))

12.0
1.0
8
[ 2.71828183  7.3890561  20.08553692]
2.0
6.643856189774724

There are many many more functions. Here is a list of them:


https://numpy.org/doc/stable/reference/routines.math.html

In [55]:
num = np.arange(3)
num2 = np.empty(3)
np.multiply(num,10,out=num2)
print(num2)

[ 0. 10. 20.]

In [56]:
num = np.arange(3)
num3 = np.zeros(6)
np.add(num,10,out=num3[::2])  # Places answer every other location
print(num3)

[10.  0. 11.  0. 12.  0.]

In [57]:
print(np.add.reduce(np.arange(1,11)))  # sums up all the numbers in an array
# can be used with other functions to get a single answer.
print(np.multiply.reduce(np.arange(1,11)))

55
3628800

In [58]:
# to see each step use accumulate
print(np.add.accumulate(np.arange(1,11)))
print(np.multiply.accumulate(np.arange(1,11)))

[ 1  3  6 10 15 21 28 36 45 55]
[      1       2       6      24     120     720    5040   40320  362880
 3628800]

In [59]:
# Createing Outer Products
mult1 = np.arange(1,5)
mult2 = np.arange(1,4)
np.multiply.outer(mult1,mult2)  # multiply each element of one array with each element of another array.  Can be used with sum, divide, ect.

array([[ 1,  2,  3],
       [ 2,  4,  6],
       [ 3,  6,  9],
       [ 4,  8, 12]])

# Aggregations

In [60]:
# Create a seed and a random array

rng = np.random.default_rng(seed=42) # creates a random number generator; it is seeded for reproducibility.

values = rng.normal(loc = 0, scale = 1, size = 1000) # 1000 normally distributed numbers with a mean of 0 and standard deviation of 1

In [61]:
print(values.mean()) # Close to 0
print(values.std())  # Close to 1
print(values.min())
print(values.max())

-0.028891550995946837
0.988722355396508
-3.6484128252147836
3.1788536793675353

In [62]:
# Multidimensional Aggregates

mat = rng.integers(1,10,(3,5))
print(mat)

[[2 6 4 4 7]
 [4 5 4 3 2]
 [8 1 3 7 2]]

In [63]:
print(mat.sum())
print(mat.min())
print(mat.min(axis = 0))  # Minimum for each column
print(mat.min(axis = 1))  # minimu for each row

62
1
[2 1 3 3 2]
[2 2 1]

## Aggregation Functions

In [64]:
M = np.array([[1,2,3,4,5],
             [6,7,8,9,10]])
print(M)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [65]:
print("Sum of M is "+str(np.sum(M)))
print("Product of M is "+str(np.prod(M)))
print("Min of M is "+str(np.min(M)))
print("Max of M is "+str(np.max(M)))
print("Mean of M is "+str(np.mean(M)))
print("Standard Deviation of M is "+str(np.std(M)))
print("Variance of M is "+str(np.var(M)))
print("Argmin of M is "+str(np.argmin(M)))
print("Argmax of M is "+str(np.argmax(M)))
print("Median of M is "+str(np.median(M)))
print("Percentile of M is "+str(np.percentile(M,25)))

Sum of M is 55
Product of M is 3628800
Min of M is 1
Max of M is 10
Mean of M is 5.5
Standard Deviation of M is 2.8722813232690143
Variance of M is 8.25
Argmin of M is 0
Argmax of M is 9
Median of M is 5.5
Percentile of M is 3.25

In [66]:
# Each of the above also has nan versions that ignore nan entries when aggregations.

m_nan = np.array([[1,2,np.nan,4,5],
             [6,np.nan,8,np.nan,10]])
print(m_nan)
print(np.sum(m_nan))
print(np.nansum(m_nan))

[[ 1.  2. nan  4.  5.]
 [ 6. nan  8. nan 10.]]
nan
36.0

In [67]:
# Testing boolean
B = np.array([False,False,True,False,True])
print(B)
print(np.any(B))  # any asks if any of the elements are True, which makes it True
print(np.all(B))  # all asks if all the elements are True, in this case it is False

[False False  True False  True]
True
False

# Computations on Arays

In [68]:
n = np.array([1,2,3])
m = np.array([3,4,5])
n+m

array([4, 6, 8])

In [69]:
# but you can preform operations that don't have the same length
n = np.array([1,2,3])
n+10

array([11, 12, 13])

In [70]:
M = np.ones((3,3))
print(M)
print('\n')
print(M+m)  # you can still add them

print('\n')
print(M+M)  # you can also add the matrix to itself

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]


[[4. 5. 6.]
 [4. 5. 6.]
 [4. 5. 6.]]


[[2. 2. 2.]
 [2. 2. 2.]
 [2. 2. 2.]]

In [71]:
# you can change the direction of the array
q = np.array([10,20,30])[:,np.newaxis]
q

array([[10],
       [20],
       [30]])

In [72]:
n+q

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [73]:
# Check the dimensions of the array
print(M.shape)
print(n.shape)
print(q.shape)

(3, 3)
(3,)
(3, 1)

In [74]:
N = np.ones((3,2))
a = np.array([1,2,3])
print(N)
print('\n')
print(a)
print('\n')

# print(N+a) # This will not work becuase of mismatch dimensions

print(N+a[:,np.newaxis])  # this will print becuase a was transposed

[[1. 1.]
 [1. 1.]
 [1. 1.]]


[1 2 3]


[[2. 2.]
 [3. 3.]
 [4. 4.]]

## Centering an array

In [75]:
rng = np.random.default_rng(seed = 42)  # Choose seed so that random answer is always the same.

Z = rng.integers(1,11,(3,5))    # random integers 1-10, 3x5 matrix
print(Z)

[[ 1  8  7  5  5]
 [ 9  1  7  3  1]
 [ 6 10  8  8  8]]

In [76]:
mZ = Z.mean(0)
print(mZ)
centeredZ = Z-mZ
print('\n')
print(centeredZ)
print('\n')
print(centeredZ.mean(0))   # Very close to 0!

[5.33333333 6.33333333 7.33333333 5.33333333 4.66666667]


[[-4.33333333  1.66666667 -0.33333333 -0.33333333  0.33333333]
 [ 3.66666667 -5.33333333 -0.33333333 -2.33333333 -3.66666667]
 [ 0.66666667  3.66666667  0.66666667  2.66666667  3.33333333]]


[ 2.96059473e-16  2.96059473e-16  2.96059473e-16  2.96059473e-16
 -2.96059473e-16]

# Comparisons, Masks, and Boolean Logic

In [77]:
a = np.array([1,2,3,4,5])
a<4
# This returns an array of true or false. Where each value under 3 is true and
# each value 3 and over is false.

array([ True,  True,  True, False, False])

In [78]:
np.less(a,4)

array([ True,  True,  True, False, False])

## Other boolean options

*   np.equal          (==)
*   np.not_equal      (!=)
*   np.less           (<)
*   np.less_equal     (<=)
*   np.greater        (>)
*   np.greater_equal  (>=)

In [79]:
a*(a<4)  # If you multiply the boolean array with the orginal array.  All the false values beocme 0.
         # Remember false is also designated as 0.  The other values will remain the same since True
         # is the same as 1, so its just being multiplied by 1.

array([1, 2, 3, 0, 0])

In [80]:
a[(a<4)]
# Here the boolean array is placed with in the original array.  All the false
# values are deleted and you are left with just the true values.  The boolean
# array is called a mask.

array([1, 2, 3])

In [81]:
b = np.array([5,9,25,12,3,75])
mask = (b>10)
print(mask)
print(b[mask])
# Masks are easy ways to filter data that you want.

[False False  True  True False  True]
[25 12 75]

In [82]:
rng = np.random.default_rng(seed = 42)  # Choose seed so that random answer is always the same.

Z = rng.integers(1,11,(3,5))    # random integers 1-10, 3x5 matrix
print(Z)

[[ 1  8  7  5  5]
 [ 9  1  7  3  1]
 [ 6 10  8  8  8]]

In [83]:
fil_Z = Z>=6  # works with arrays as well
print(fil_Z)

[[False  True  True False False]
 [ True False  True False False]
 [ True  True  True  True  True]]

In [84]:
np.count_nonzero(fil_Z)  # count how many non-zero entries in the matrix of fil_Z

9

In [85]:
print(Z[fil_Z])  # This will change the matrix into a linear array.
print(Z*fil_Z)   # This wil make false values 0

[ 8  7  9  7  6 10  8  8  8]
[[ 0  8  7  0  0]
 [ 9  0  7  0  0]
 [ 6 10  8  8  8]]

In [86]:
Z[fil_Z]=99
print(Z)
# You can change all the values at once with the boolean array.

[[ 1 99 99  5  5]
 [99  1 99  3  1]
 [99 99 99 99 99]]

In [87]:
Z[Z == 5] = 500
print(Z)
# you can put the boolean logic directly in the array and change only those values.

[[  1  99  99 500 500]
 [ 99   1  99   3   1]
 [ 99  99  99  99  99]]

## Counting values

In [88]:
# Let's start over
rng = np.random.default_rng(seed = 42)  # Choose seed so that random answer is always the same.

Z = rng.integers(1,11,(3,5))    # random integers 1-10, 3x5 matrix
print(Z)

[[ 1  8  7  5  5]
 [ 9  1  7  3  1]
 [ 6 10  8  8  8]]

In [89]:
# We can count the number of values that are 5 and under for each ROW.
np.sum(Z<=5,axis=1)

array([3, 3, 0])

In [90]:
# This also works for each column
np.sum(Z<=5,axis=0)

# To break it down
# Z<=5 gives you a boolean matrix of trues where the number is 5 and less

array([1, 1, 0, 2, 2])

In [91]:
# Let's break it down
# Z<=5 gives you a boolean matrix of trues where the number is 5 and less
print(Z<=5)
np.sum(Z<=5, axis = 0) # This sums up the Trues (aka 1's) in the boolean matrix

[[ True False False  True  True]
 [False  True False  True  True]
 [False False False False False]]

array([1, 1, 0, 2, 2])

In [92]:
print(np.any(Z>5))  # If any of the values are over 8 it will print True
print(np.all(Z>5))  # Will be true if all the valuse are over 8

True
False

In [93]:
print(np.any(Z>5,axis = 1))  # If any of the values are over 8 for a row it will print True
print(np.all(Z>5,axis = 1))  # Will be true if all the valuse are over 8 for a particular row

[ True  True  True]
[False False  True]

In [94]:
(Z>3) & (Z<8)  # You can use boolean operations to use more than one equality

array([[False, False,  True,  True,  True],
       [False, False,  True, False, False],
       [ True, False, False, False, False]])

In [95]:
(Z>8) | (Z==5) # Or operation

array([[False, False, False,  True,  True],
       [ True, False, False, False, False],
       [False,  True, False, False, False]])

In [96]:
print(np.sum((Z>3) & (Z<8)))  # Then you can count how many values fall in the inequality constraints.

5

In [97]:
# Keep in mind you can isolate one of the columsn and rows and also do boolean operations
Z[1]>5

array([ True, False,  True, False, False])

# Fancy Indexing

In [98]:
rng = np.random.default_rng(seed = 42)  # Choose seed so that random answer is always the same.

A = rng.integers(1,11,(10))
print(A)

[1 8 7 5 5 9 1 7 3 1]

In [99]:
print([A[1],A[5],A[8]])  # The output is show that it is spcefic type numpy integers.

# However, you can do this
ind = [1,5,8]
print(A[ind])

[np.int64(8), np.int64(9), np.int64(3)]
[8 9 3]

In [100]:
ind = np.array([[2,3],
               [5,9]])
A[ind]

# the answer is the same shape as the ind
print(ind.shape)
print(A[ind].shape)

(2, 2)
(2, 2)

In [101]:
# Let's start back with Z;
# Keep in mind even though Z is random, since it has seed 42, it will always
# output the same matrix.

# Let's start over
rng = np.random.default_rng(seed = 42)  # Choose seed so that random answer is always the same.

Z = rng.integers(1,11,(3,5))    # random integers 1-10, 3x5 matrix
print(Z)

[[ 1  8  7  5  5]
 [ 9  1  7  3  1]
 [ 6 10  8  8  8]]

In [102]:
# You can put the rows and column to get an array
row = np.array([0,1,2])
col = np.array([2,1,4])
Z[row,col]

array([7, 1, 8])

In [103]:
print(row[:,np.newaxis])
print(col)
print('\n')
print(Z[row[:,np.newaxis],col])

# The inverted array row with col will act as input similar to these coordinates:
# (0,2) (0,1) (0,4)
# (1,2) (1,1) (1,4)
# (2,2) (2,1) (2,4)

[[0]
 [1]
 [2]]
[2 1 4]


[[ 7  8  5]
 [ 7  1  1]
 [ 8 10  8]]

In [104]:
print(Z)
print('\n')
print(Z[1,[3,2,0]])
print('\n')
print(Z[1:,[3,2,0]])

[[ 1  8  7  5  5]
 [ 9  1  7  3  1]
 [ 6 10  8  8  8]]


[3 7 9]


[[3 7 9]
 [8 8 6]]

In [105]:
row = np.array([0,2])
mask = np.array([True, True, False, True, False])
print(Z[row[:, np.newaxis],mask])
# print(Z[row,mask]) # This will create an error.

[[ 1  8  5]
 [ 6 10  8]]

In [106]:
num = np.arange(1,10)
ind = np.array([3,7, 4, 5])
num[ind]
num[ind] = 100
print(num)
num[ind] -= 50
print(num)

[  1   2   3 100 100 100   7 100   9]
[ 1  2  3 50 50 50  7 50  9]

# Sorting NumPy

In [107]:
A = np.array([5,4,1,3,2,6])
np.sort(A)

array([1, 2, 3, 4, 5, 6])

In [108]:
print(A)  # The sort above does not change A
A.sort()
print(A)  # A is now sorted

[5 4 1 3 2 6]
[1 2 3 4 5 6]

In [109]:
A = np.array([5,4,1,3,2,6])
ind = np.argsort(A)
print(ind)
# prints the index of the sorted array.
# For example, 1 is in location 2, but now it is first, so 2 is the first element of the ind array.

[2 4 3 1 0 5]

In [110]:
Z = rng.integers(1,11,(3,5))    # random integers 1-10, 3x5 matrix
print(Z)
print('\n')
print(np.sort(Z,axis = 0))
print('\n')
print(np.sort(Z,axis = 1))

[[ 8  6  2  9  5]
 [ 6  4  2 10  8]
 [ 7  5  9  6  5]]


[[ 6  4  2  6  5]
 [ 7  5  2  9  5]
 [ 8  6  9 10  8]]


[[ 2  5  6  8  9]
 [ 2  4  6  8 10]
 [ 5  5  6  7  9]]

# Structured Numpy Data Array

In [127]:
# Structured Numpy Data Array
name = ['Luke','Lea','Han','Chewie','R2D2','C3P0']
human = [True,True,True,False,False,False]
occupation = ['Jedi','Princess','Smuggler','Smuggler','Droid','Droid']

characters = np.zeros(6,dtype={'names':('name', 'human', 'occupation'),
                                  'formats':('U10', 'i4', 'U10')})  # these are the different data formats U is string, i is integer.

In [128]:
characters['name'] = name
characters['human'] = human
characters['occupation'] = occupation
print(characters)

[('Luke', 1, 'Jedi') ('Lea', 1, 'Princess') ('Han', 1, 'Smuggler')
 ('Chewie', 0, 'Smuggler') ('R2D2', 0, 'Droid') ('C3P0', 0, 'Droid')]

In [129]:
# call different pieces of information
print(characters['name'])
print(characters['occupation'])
print(characters[3])

['Luke' 'Lea' 'Han' 'Chewie' 'R2D2' 'C3P0']
['Jedi' 'Princess' 'Smuggler' 'Smuggler' 'Droid' 'Droid']
('Chewie', 0, 'Smuggler')

In [130]:
print(characters[characters['human']==1])  #print only humans

[('Luke', 1, 'Jedi') ('Lea', 1, 'Princess') ('Han', 1, 'Smuggler')]